BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: true
IndentPPDirectives: None
SortIncludes: Never
ReflowComments: true